/* Chatbox.css */
body {
	background-color: #48514f;
	margin: 0; /* Remove default body margin */
  	padding: 0; /* Remove default body padding */
  	font-family: Arial, sans-serif; /* Set a default font-family */
}

h1, p {
	color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #48514f48514f48514f48514f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.navbar {
  background-color: #394240;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
color: black;
}

.nav-item {
  cursor: pointer;
  color: black;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #25d366; /* WhatsApp green color */
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #128C7E; /* Darker shade on hover */
}

.chatbox {
  width: 90%; /* Adjusted to 90% of the webpage width */
  margin: 20px auto;
  border: 1px solid #333; /* Dark border color */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #48514f; /* Dark background color */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message, .user, .bot {
	margin: 12px 5px; /* Increased margin */
	padding: 12px;
	border-radius: 12px;
  	word-wrap: break-word;
	max-width: 90%;
	background-color: #61dafb; /* User message background color */
  color: white; /* User message text color */
}
.user {
  	background-color: #25d366;
  	color: #000;
  	align-self: flex-end;
	text-align: right;
}

.bot {
  background-color: #333;
  color: #white;
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #333;
}

input {
  flex: 1;
  padding: 12px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: white;
  font-size: 16px; /* Increased font size */
  outline: none;
}

button {
  background-color: #25d366;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px; /* Increased font size */
  outline: none;
}
